# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# Virtual environments
.venv
venv/
.python-version

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
